#{extends 'main.html' /} #{set title:'Repositories' /}

<table>
	<thead>
		<th>Name</th>
		<th>Forks</th>
		<th>Watchers</th>
		<th>Subscribe to</th>
	</thead>
	<tbody>
		#{list repositories, as : 'r'}
		<tr>
			<td><b><a href="@@{Application.repo(r.name)}">${r.name}</a></b></td>
			<td>${r.forks}</td>
			<td>${r.watchers}</td>
			<td><a href="@@{Application.subscribeToForks(r.name)}"
				class="btn">Forks</a>&nbsp;<a
				href="@@{Application.subscribeToWatchs(r.name)}" class="btn">Watchers</a></td>
		</tr>
		#{/list}
	</tbody>
</table>