#{extends 'main.html' /} #{set title:'Repositories' /}

<h1>Repositories (${repositories.size})</h1>
#{list repositories, as : 'r'}
<div class="well">
<h2><a href="@@{Application.repo(r.name)}">${r.name}</a>&nbsp;<small>${r?.description}</small></h2>
<a href="${r.gitUrl}">${r.gitUrl}</a>
<hr/>
<b># Forks :</b> ${r.forks}
<br/>
<b># Watchers :</b> ${r.watchers}
<br/>
<div align="right">
<a href="@@{Application.subscribeToForks(r.name)}"
				class="btn">Subscribe to Forks</a>&nbsp;<a
				href="@@{Application.subscribeToWatchs(r.name)}" class="btn">Subscribe to Watchers</a>
				</div>
</div>
#{/list}
