#{extends 'main.html' /}
#{set title:'Repo' /}

<h2><a target="_blank" href="${repository.htmlUrl}">${repository.name}</a>&nbsp;<small>${repository?.description}</small></h2>

<div class="well">
<h3>Hooks</h3>
<hr/>
#{if hooks != null && hooks.size > 0}
<table>
	<thead>
		<th>#</th>
		<th>Name</th>
		<th>Created At</th>
		<th>Active?</th>
		<th>Actions</th>
	</thead>
	<tbody>
		#{list hooks, as : 'h'}
		<tr>
			<td><b>${h.id}</b></td>
			<td>${h.name}</td>
			<td>${h.createdAt}</td>
			<td>${h.active}</td>
			<td><a href="@@{Application.switchHook(repository.name, h.id)}" class="btn">#{if h.active}Pause#{/if}#{else}Resume#{/else}</a>&nbsp;</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
#{else}
None.
#{/else}
</div>

<div class="well">
<h3>Actions</h3>
<hr/>
<div align="center">
	<a href="@@{Application.subscribeToForks(repository.name)}"	class="btn">Subscribe to Forks</a>&nbsp;
	<a href="@@{Application.unsubscribeFromForks(repository.name)}"	class="btn danger">Unsubscribe from Forks</a>
	<a href="@@{Application.subscribeToWatchs(repository.name)}" class="btn">Subscribe to Watchers</a>&nbsp;
	<a href="@@{Application.unsubscribeFromWatchs(repository.name)}" class="btn danger">Unsubscribe from Watchers</a>&nbsp;
</div>
</div>